<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings><add name="VuzEntities" connectionString="metadata=res://*/Data.Vuz.csdl|res://*/Data.Vuz.ssdl|res://*/Data.Vuz.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OQMC1JI;initial catalog=Vuz;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>